main {
  
  min-height: 80vh;
}

#navbar .container{
  border: solid 2px black;
  width: 100%;
}

#navBrand {
  color: #7DAA6A;
}

#navLinks a{
  color: #7DAA6A;
}

#navLinks a:hover {
  color: black;
}

#reviewSec {
  margin-top: 10rem;
  text-align: center;
}

